/* || GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Balsamiq+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

/* || GENERAL STYLES */
:root {
    --primary-color: #9a69e1;
    --secondary-color: #ffe74c;
    --accent-color: #00cecb;
    --grey-color: #2f394d;
    --white-color: #fff;
    --default-letter-spacing: 0.12rem;
    --body-font: 'Roboto', sans-serif;
    --titles-font: 'Archivo Black', sans-serif;
    --accent-font: 'Balsamiq Sans', sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--body-font);
    font-weight: 500;
}

body {
    font-size: 1.5rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

h1, 
h2, 
h3 {
    font-family: var(--titles-font);
    text-align: center;
    font-weight: 500;
    text-shadow: var(--text-shadow);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  /* box-sizing: border-box;
  padding: 0;
  margin: 0; */
}

textarea {
  overflow: hidden;
}

.section-description {
    text-align: center;
    font-family: var(--accent-font);
    font-weight: 500;
}

.call-to-action {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 400;
}


/* || UTILITIES */
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.grey-color {
    color: var(--grey-color);
}

.white-color {
    color: var(--white-color);
}

.hidden {
    display: none;
}

.center-text {
    text-align: center;
}

.horizontal-center {
    margin: 0 auto;
}


/* || NAV */
.nav-mobile {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 0.3rem 1.5rem;
}

.nav-logo-container {
    width: 50%;
}

.hamburger-menu {
    color: var(--primary-color);
    font-size: 3.5rem;
    margin-left: auto;
    margin-right: 1rem;
}

.nav-links {
    color: var(--primary-color);
    /* height: 100%; */ /* TODO: CHECK LATER IF THIS WORKS WITH THE TRANSITION */
    height: 9.1rem;
}

.nav-links li {
    height: 1.8rem;
    display: flex;
    align-items: center;
}

.nav-links li:hover {
    background-color: #e0ccfd;
    padding-left: 0.7rem;
}

.nav-links li a {
    padding-left: 1.5rem;
    font-size: 1.3rem;
    letter-spacing: var(--default-letter-spacing);
}


/* HOME SECTION (Inicio) */
.home-section {
    height: auto;
}

.home-section-content {
    margin: 3.3rem 0 2rem 0;
}

.home-section-content.split {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.up {
    display: flex;
    flex-direction: column;
}

.section-description {
    margin: 1rem 1.2rem 1.5rem 1.2rem;
}

.contact-btn {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: var(--box-shadow);
}

.home-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img {
    width: 80%;
}


/* || ABOUT SECTION (Sobre Nosotros) */
.about-section {
    background-color: var(--secondary-color);
    padding: 2rem 2rem 3.5rem 2rem;
}

.about-cards {
    margin-top: 5rem;
}

.cards-container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-card {
    background-color: var(--white-color);
    color: #000;
    padding: 1.5rem;
    border-radius: 10px;
    min-height: 15rem;
    box-shadow: var(--box-shadow);
}

.card-icon {
    color: var(--primary-color);
    display: inline-block;
    font-size: 3.5rem;
}

.card-description {
    margin-top: 1rem;
    font-family: var(--accent-font);
}
